/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif
}

body {
  margin: 0 auto
}

.m-5-auto {
  margin: 5rem auto
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #b3a3f2;
  font-size: 1.2rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}

.land-button {
  margin-top: 5rem;
  border-radius: 4px;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  background: #b3a3f2;
  border: none;
  color: rgb(251, 247, 247);
  font-size: 1.2rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}


/***    Landing Page     ***/
.main-title,
.main-para {
  color: #b3a3f2
}

.main-title {
  padding-top: 9rem;
  font-size: 3rem;
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase
}

.main-para {
  font-size: 2.5rem;
  text-Transform: capitalize
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
padding-right: 25px;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}

input, select{
  width: 17rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

.profile input, select{
  width: 25rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

.quote input, select{
  width: 25rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  display: block;
  width: 100%;
  padding: .3rem;
  border: none;
  background: #b3a3f2;
  color: rgb(5, 4, 4);
  border-radius: 3px;
}

#sub_btn:hover {
  background: rgb(232, 229, 229);
  transition: all .5s
}

footer p {
  margin: 0;
  font-size: .9rem
}

/***    Register Page     ***/
#checkbox {
  width: 1rem
}

form span {
  font-size: .8rem
}

#reset_pass_lbl {
  float: left
}

/***    Home Page     ***/
.home-page-title {
  color: #222
}

.quotes {
  border-collapse: collapse;
  margin: auto;
  margin-top: 50px;
  font-size: 0.9em;
  font-family: 'Times New Roman', Times, serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(244, 236, 236, 0.15);
}

.quotes thead tr {
  background-color: #6f49cd43;
  color: #030303;
  text-align: center;
}

.quotes th,
.quotes td {
    padding: 12px 15px;
}

.quotes tbody tr {
  border-bottom: 1px solid #020202;
}

.quotes tbody tr:nth-of-type(even) {
  background-color: #f4f3f3;
}

.quotes tbody tr:last-of-type {
  border-bottom: 2px solid #6057b166;
}

.quotes tbody tr.active-row {
  font-weight: bold;
  color: #b3a3f2;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  
  background: #6f49cd43;
  color: rgb(14, 13, 13);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
}

.navbar__title {
  margin-right: auto;
  font-size: 100%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.navbar__item a {
  color: rgb(10, 10, 10);
}

.navbar__item a:hover {
  color: white;
  text-decoration: none;
  background-color: #864da3;

}

.landing {
  background-color: #222;
  height: 950px;
}

.validation-error{
  color:red;
  font-size:13px;
  text-align: left;
}